{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Add Note</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link href="{% static 'lab4_forms.css' %}" rel="stylesheet" type="text/css">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/lab-4/">Lab 4</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/lab-3/add">Add Friend</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/lab-3/">Friend List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/lab-4/add-note">Add Note</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/lab-4/note-list">Note List</a>
        </li>
      </ul>
    </div>
  </nav>
  <p style="font-size: 40px; text-align: center; margin-top: 20px; color: white;">Add Note</p>
  <form action = "" method = "POST" class = "form">
    {% csrf_token %}
    <div class = "form">
      <label for="name">From</label>
      <input 
        type = "text"
        name = "froms"
        id = "from"
        placeholder="Masukkan Nama Pengirim"
        required
      >
    </div>
    <div class = "form">
      <label for = "npm">To</label>
      <input 
      type = "text"
      name = "to"
      id = "to"
      placeholder="Masukkan Nama Penerima"
      required
      >
    </div>
    <div class = "form">
      <label for = "npm">Title</label>
      <input 
      type = "text"
      name = "title"
      id = "title"
      placeholder="Masukkan Judul"
      required
      >
    </div>
    <div class = "form">
      <label for = "npm">Message</label>
      <input 
      type = "text"
      name = "message"
      id = "message"
      placeholder="Masukkan Pesan"
      required
      >
    </div>
    <div class = "form">
      <input 
      type="submit" 
      id = "submit"
      value="Send Message"
      >
    </div>
  </form>
</body>
</html>