{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
  <meta charset="UTF-8" content="width=device-width, initial-scale=1">
    <title>Note List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="{% static 'lab4_note_list.css' %}" rel="stylesheet" type="text/css">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/lab-4/">Lab 4</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/lab-3/add">Add Friend</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/lab-3/">Friend List</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/lab-4/add-note">Add Note</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/lab-4/note-list">Note List</a>
          </li>
        </ul>
      </div>
    </nav>
    <p style="font-size: 40px; text-align: center; margin-top: 20px; color: rgb(0, 255, 64);">Inbox</p>
    <div class="row row-cols-4">
      {% for i in Note %}
      <div class="col d-flex align-items-stretch">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <strong>From : {{i.froms}}</strong>
            <br>
            <strong>To : {{i.to}}</strong>
            <hr>
            <strong style="text-align: center;">{{i.title}}</strong> 
            <hr>
            <p>{{i.message}}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </body>
</html>