{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Notes</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="{% static 'lab4_index.css' %}" rel="stylesheet" type="text/css">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/lab-4/">Lab 4</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/lab-3/add">Add Friend</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/lab-3/">Friend List</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/lab-4/add-note">Add Note</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/lab-4/note-list">Note List</a>
          </li>
        </ul>
      </div>
    </nav>
    <br>
    <p style="font-size: 40px; text-align: center; margin-top: 20px; color: white;">Inbox</p>
    <br>
    <table class="table table-hover table-bordered table-dark">
      <thead class="thead-dark">
        <tr>
          <th scope="col" style="width: 10%">To</th>
          <th scope="col" style="width: 10%">From</th>
          <th scope="col" style="width: 30%">Title</th>
          <th scope="col" style="width: 50%">Message</th>
        </tr>
      </thead>
      <tbody>
        {% for i in Note %}
        <tr>
          <td>{{i.to}}</td>
        <td>{{i.froms}}</td>
        <td>{{i.title}}</td>
        <td>{{i.message}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <!-- <table>
      <tr>
        <th>To</th>
        <th>From</th>
        <th>Title</th>
        <th>Message</th>
      </tr>
      {% for i in Note %}
      <tr>
        <td>{{i.to}}</td>
        <td>{{i.froms}}</td>
        <td>{{i.title}}</td>
        <td>{{i.message}}</td>
      </tr>
      {% endfor %}
    </table> -->
  </body>
</html>
