body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /* background-image: url("https://images6.alphacoders.com/942/942082.jpg"); */
  background-image: url("https://acegif.com/wp-content/uploads/rainy-21.gif");
  background-size: cover;
}
.card {
  color: rgb(0, 0, 0);
  border: 2px solid rgba(0, 0, 0, 0.322);
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  background-color: darkkhaki;
} 