<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Friend List</title>
    <style>
      .data {
        color: white;
        border: 2px solid white;
        border-radius: 10px;
        width: 275px;
        height: 120px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
      }
      body {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        background-image: url("https://twomann.com/wp-content/uploads/2017/12/two-mann-greatest-hits-092-2560x1707.jpg");
        background-size: cover;
      }
    </style>
  </head>
  <body>
    <p style="font-size: 40px; text-align: center; margin-top: 50px; color: white;">Friend List</p>
    <div style="display: flex; flex-direction: column; align-items: center;">
      <div style="display: flex; flex-wrap: wrap; flex-direction: row; align-items: center; justify-content: space-between;">
        {% for i in friends %}
        <div class="data">
          <p style="text-align: center;">{{i.name}}</p>
          <p style="text-align: center;">{{i.npm}}</p>
          <p style="text-align: center;">{{i.DOB}}</p>
        </div>
        {% endfor %}
      </div>
    </div>
  </body>
</html>
