<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add Friend</title>
  <style>
    .form label {
    display: block;
    text-align: center;
    line-height: 150%;
    color: white;
    }
    input {
      margin-bottom: 5px;
      border: 1px solid rgb(88, 0, 252);
      border-radius: 3px;
      height: 20px;
      width: 450px;
      padding: 5px;
      display: block;
      margin-right: auto;
      margin-left: auto;
    }
    .form:hover p, input:hover::placeholder {
      color: #cc7a00;
    }
    .form input:hover{
      border: 1px solid transparent;
      box-shadow: 0 0 3px 0 #cc7a00;
      color: #cc7a00;
    }
    .form {
      position: relative;
      margin: 10px 0;
    }
    .form input[type="date"]::-webkit-calendar-picker-indicator {
      display: block;
      font-size: 20px;
      color: #ff9b06;
      opacity: 1;
      cursor: pointer;
    }
    #submit {
      position: relative;
      background-color: rgb(0,255,0);
      width: 120px;
      height: 50px;
      padding: 15px;
      border: 2px solid darkgreen;
      cursor: pointer;
      border-radius: 10px;
      font-size: 17px;
      display: block;
      margin-right: auto;
      margin-left: auto;
    }
    body {
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      background-size: cover;
      /* background-image: url("https://cdn.wallpapersafari.com/61/70/rMqGum.gif"); */
      /* background-image: url("https://wallpapercave.com/wp/wp2757834.gif"); */
      background-image: url("https://images6.alphacoders.com/942/942082.jpg");
      /* background-image: url("https://wallpapercave.com/wp/wp2757880.gif"); */
    }
  </style>
</head>
<body>
  <p style="font-size: 40px; text-align: center; margin-top: 50px; color: white;">Add Friend</p>
  <form action = "" method = "POST" class = "form">
    {% csrf_token %}
    <!-- {{form}} -->
    <div class = "form">
      <label for="name">Nama</label>
      <input 
        type = "text"
        name = "name"
        id = "name"
        placeholder="Masukkan Nama Teman Kamu"
        required
        >
    </div>
    <div class = "form">
        <label for = "npm">NPM</label>
        <input 
        type = "text"
        name = "npm"
        id = "npm"
        placeholder="Masukkan NPM Teman Kamu"
        required
        >
    </div>
    <div class = "form">
      <label for = "npm">Tanggal Lahir</label>
      <input 
      type = "date"
      name = "DOB"
      id = "DOB"
      required
      >
    </div>
    <div class = "form">
      <input 
      type="submit" 
      id = "submit"
      value="Add Friend"
      >
    </div>
  </form>
</body>
</html>